<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.AsSecurityProductsSpecialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.AsSecurityProductsSpecial">
        <id column="id" property="id" />
        <result column="as_id" property="asId" />
        <result column="certificate_name" property="certificateName" />
        <result column="certificate_sn" property="certificateSn" />
        <result column="certificate_datetime" property="certificateDatetime" />
        <result column="strategy" property="strategy" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, as_id, certificate_name, certificate_sn, certificate_datetime, strategy
    </sql>

</mapper>
