<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.OperateeLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.OperateeLog">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="display_name" property="displayName" />
        <result column="ip" property="ip" />
        <result column="create_datetime" property="createDatetime" />
        <result column="method" property="method" />
        <result column="param" property="param" />
        <result column="time" property="time" />
        <result column="operate_module" property="operateModule" />
        <result column="operate_type" property="operateType" />
        <result column="operate_description" property="operateDescription" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, display_name, ip, create_datetime, method, param, time, operate_module, operate_type, operate_description
    </sql>

</mapper>
