<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.ProcessDefinitionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.ProcessDefinition">
        <id column="id" property="id"/>
        <result column="base_id" property="baseId"/>
        <result column="before_id" property="beforeId"/>
        <result column="have_display" property="haveDisplay"/>
        <result column="process_name" property="processName"/>
        <result column="process_type" property="processType"/>
        <result column="process_type2" property="processType2"/>
        <result column="process_name_type" property="processNameType"/>
        <result column="have_rate" property="haveRate"/>
        <result column="form_layout" property="formLayout"/>
        <result column="width" property="width"/>
        <result column="create_time" property="createTime"/>
        <result column="remark" property="remark"/>
        <result column="bpmn_xml" property="bpmnXml"/>
        <result column="deploy_id" property="deployId"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, base_id, before_id, have_display, process_name, process_type, process_type2,process_name_type,have_rate, form_layout, width, create_time, remark, bpmn_xml,deploy_id,role_name
    </sql>

</mapper>
