<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.ProcessFormTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.ProcessFormTemplate">
        <id column="id" property="id" />
        <result column="label" property="label" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="flag" property="flag" />
        <result column="group_layout" property="groupLayout" />
        <result column="group_parent_label" property="groupParentLabel" />
        <result column="have_group_select" property="haveGroupSelect" />
        <result column="required" property="required" />
        <result column="tooltip" property="tooltip" />
        <result column="value" property="value" />
        <result column="default_value" property="defaultValue" />
        <result column="process_definition_id" property="processDefinitionId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, label, name, type, flag, group_layout, group_parent_label, have_group_select, required, tooltip, value, default_value, process_definition_id
    </sql>

</mapper>
