<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.yunweiadmin.mapper.ProcessInstanceDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sss.yunweiadmin.model.entity.ProcessInstanceData">
        <id column="id" property="id"/>
        <result column="process_definition_id" property="processDefinitionId"/>
        <result column="process_name" property="processName"/>
        <result column="business_id" property="businessId"/>
        <result column="act_process_instance_id" property="actProcessInstanceId"/>
        <result column="process_status" property="processStatus"/>
        <result column="display_current_step" property="displayCurrentStep"/>
        <result column="login_current_step" property="loginCurrentStep"/>
        <result column="dept_id" property="deptId"/>
        <result column="dept_name" property="deptName"/>
        <result column="display_name" property="displayName"/>
        <result column="login_name" property="loginName"/>
        <result column="start_datetime" property="startDatetime"/>
        <result column="end_datetime" property="endDatetime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, process_definition_id, process_name, business_id, act_process_instance_id, process_status, display_current_step, login_current_step,dept_id, dept_name, display_name, login_name, start_datetime, end_datetime
    </sql>

</mapper>
